In [1]:
#Read the data into a dataframe

import pandas as pd

census_df = pd.read_csv('acs2015_county_data.csv')

In [2]:
#Display data

census_df.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [3]:
#List the columns being used in the dataset

census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3220 entries, 0 to 3219
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CensusId         3220 non-null   int64
 1   State            3220 non-null   object
 2   County           3220 non-null   object
 3   TotalPop         3220 non-null   int64
 4   Men              3220 non-null   int64
 5   Women            3220 non-null   int64
 6   Hispanic         3220 non-null   float64
 7   White            3220 non-null   float64
 8   Black            3220 non-null   float64
 9   Native           3220 non-null   float64
 10  Asian            3220 non-null   float64
 11  Pacific          3220 non-null   float64
 12  Citizen          3220 non-null   int64
 13  Income           3219 non-null   float64
 14  IncomeErr        3219 non-null   float64
 15  IncomePerCap     3220 non-null   int64
 16  IncomePerCapErr  3220 non-null   int64
 17  Poverty          3220 non-null   float64
 18  ChildPoverty     3219 non-null   float64
 19  Professional     3220 non-null   float64
 20  Service          3220 non-null   float64
 21  Office           3220 non-null   float64
 22  Construction     3220 non-null   float64
 23  Production       3220 non-null   float64
 24  Drive            3220 non-null   float64
 25  Carpool          3220 non-null   float64
 26  Transit          3220 non-null   float64
 27  Walk             3220 non-null   float64
 28  OtherTransp      3220 non-null   float64
 29  WorkAtHome       3220 non-null   float64
 30  MeanCommute      3220 non-null   float64
 31  Employed         3220 non-null   int64
 32  PrivateWork      3220 non-null   float64
 33  PublicWork       3220 non-null   float64
 34  SelfEmployed     3220 non-null   float64
 35  FamilyWork       3220 non-null   float64
 36  Unemployment     3220 non-null   float64
dtypes: float64(27), int64(8), object(2)
memory usage: 930.9+ KB

In [4]:
#Describe the data

census_df.describe(include='all')

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
count,3220.000000,3220,3220,3.220000e+03,3.220000e+03,3.220000e+03,3220.000000,3220.000000,3220.000000,3220.000000,...,3220.000000,3220.000000,3220.000000,3220.000000,3.220000e+03,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000
unique,NaN,52,1928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Texas,Washington,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,254,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,31393.605280,NaN,NaN,9.940935e+04,4.889694e+04,5.051241e+04,11.011522,75.428789,8.665497,1.723509,...,3.323509,1.612733,4.631770,23.278758,4.559352e+04,74.219348,17.560870,7.931801,0.288106,8.094441
std,16292.078954,NaN,NaN,3.193055e+05,1.566813e+05,1.626620e+05,19.241380,22.932890,14.279122,7.253115,...,3.756096,1.670988,3.178772,5.600466,1.496995e+05,7.863188,6.510354,3.914974,0.455137,4.096114
min,1001.000000,NaN,NaN,8.500000e+01,4.200000e+01,4.300000e+01,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,4.900000,6.200000e+01,25.000000,5.800000,0.000000,0.000000,0.000000
25%,19032.500000,NaN,NaN,1.121800e+04,5.637250e+03,5.572000e+03,1.900000,64.100000,0.500000,0.100000,...,1.400000,0.900000,2.700000,19.500000,4.550750e+03,70.500000,13.100000,5.400000,0.100000,5.500000
50%,30024.000000,NaN,NaN,2.603500e+04,1.293200e+04,1.305700e+04,3.900000,84.100000,1.900000,0.300000,...,2.400000,1.300000,3.900000,23.000000,1.050800e+04,75.700000,16.200000,6.900000,0.200000,7.600000
75%,46105.500000,NaN,NaN,6.643050e+04,3.299275e+04,3.348750e+04,9.825000,93.200000,9.600000,0.600000,...,4.000000,1.900000,5.600000,26.800000,2.863275e+04,79.700000,20.500000,9.400000,0.300000,9.900000
max,72153.000000,NaN,NaN,1.003839e+07,4.945351e+06,5.093037e+06,99.900000,99.800000,85.900000,92.100000,...,71.200000,39.100000,37.200000,44.000000,4.635465e+06,88.300000,66.200000,36.600000,9.800000,36.500000

In [5]:
#Filter state data down to that of only Virginia

import numpy as np

specific_state = 'Virginia'

criteria = census_df["State"] == specific_state

virginia_df = census_df[criteria]

virginia_df.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
2820,51001,Virginia,Accomack,33115,16117,16998,8.8,60.9,28.6,0.4,...,4.0,1.7,2.7,20.9,14296,73.2,18.6,7.7,0.5,6.8
2821,51003,Virginia,Albemarle,103108,49365,53743,5.7,77.4,9.3,0.2,...,3.7,1.4,7.2,21.9,48206,67.1,24.7,8.0,0.1,3.8
2822,51005,Virginia,Alleghany,16066,7888,8178,1.4,92.0,5.3,0.0,...,0.9,1.3,1.6,24.3,6539,77.3,16.3,6.3,0.1,5.1
2823,51007,Virginia,Amelia,12777,6492,6285,1.0,72.3,24.3,0.4,...,1.1,1.9,2.8,33.8,5686,77.2,14.9,7.9,0.0,5.0
2824,51009,Virginia,Amherst,32148,15475,16673,2.1,75.6,18.4,0.3,...,2.0,1.7,2.7,24.2,14663,78.8,15.1,5.9,0.2,6.6