In [14]:
#Read the data into a dataframe

import pandas as pd

census_df = pd.read_csv('acs2015_county_data.csv')

In [15]:
#Display data

census_df.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [16]:
#List the columns being used in the dataset

census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3220 entries, 0 to 3219
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CensusId         3220 non-null   int64
 1   State            3220 non-null   object
 2   County           3220 non-null   object
 3   TotalPop         3220 non-null   int64
 4   Men              3220 non-null   int64
 5   Women            3220 non-null   int64
 6   Hispanic         3220 non-null   float64
 7   White            3220 non-null   float64
 8   Black            3220 non-null   float64
 9   Native           3220 non-null   float64
 10  Asian            3220 non-null   float64
 11  Pacific          3220 non-null   float64
 12  Citizen          3220 non-null   int64
 13  Income           3219 non-null   float64
 14  IncomeErr        3219 non-null   float64
 15  IncomePerCap     3220 non-null   int64
 16  IncomePerCapErr  3220 non-null   int64
 17  Poverty          3220 non-null   float64
 18  ChildPoverty     3219 non-null   float64
 19  Professional     3220 non-null   float64
 20  Service          3220 non-null   float64
 21  Office           3220 non-null   float64
 22  Construction     3220 non-null   float64
 23  Production       3220 non-null   float64
 24  Drive            3220 non-null   float64
 25  Carpool          3220 non-null   float64
 26  Transit          3220 non-null   float64
 27  Walk             3220 non-null   float64
 28  OtherTransp      3220 non-null   float64
 29  WorkAtHome       3220 non-null   float64
 30  MeanCommute      3220 non-null   float64
 31  Employed         3220 non-null   int64
 32  PrivateWork      3220 non-null   float64
 33  PublicWork       3220 non-null   float64
 34  SelfEmployed     3220 non-null   float64
 35  FamilyWork       3220 non-null   float64
 36  Unemployment     3220 non-null   float64
dtypes: float64(27), int64(8), object(2)
memory usage: 930.9+ KB

In [17]:
#Describe the data

census_df.describe(include='all')

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
count,3220.000000,3220,3220,3.220000e+03,3.220000e+03,3.220000e+03,3220.000000,3220.000000,3220.000000,3220.000000,...,3220.000000,3220.000000,3220.000000,3220.000000,3.220000e+03,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000
unique,NaN,52,1928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Texas,Washington,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,254,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,31393.605280,NaN,NaN,9.940935e+04,4.889694e+04,5.051241e+04,11.011522,75.428789,8.665497,1.723509,...,3.323509,1.612733,4.631770,23.278758,4.559352e+04,74.219348,17.560870,7.931801,0.288106,8.094441
std,16292.078954,NaN,NaN,3.193055e+05,1.566813e+05,1.626620e+05,19.241380,22.932890,14.279122,7.253115,...,3.756096,1.670988,3.178772,5.600466,1.496995e+05,7.863188,6.510354,3.914974,0.455137,4.096114
min,1001.000000,NaN,NaN,8.500000e+01,4.200000e+01,4.300000e+01,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,4.900000,6.200000e+01,25.000000,5.800000,0.000000,0.000000,0.000000
25%,19032.500000,NaN,NaN,1.121800e+04,5.637250e+03,5.572000e+03,1.900000,64.100000,0.500000,0.100000,...,1.400000,0.900000,2.700000,19.500000,4.550750e+03,70.500000,13.100000,5.400000,0.100000,5.500000
50%,30024.000000,NaN,NaN,2.603500e+04,1.293200e+04,1.305700e+04,3.900000,84.100000,1.900000,0.300000,...,2.400000,1.300000,3.900000,23.000000,1.050800e+04,75.700000,16.200000,6.900000,0.200000,7.600000
75%,46105.500000,NaN,NaN,6.643050e+04,3.299275e+04,3.348750e+04,9.825000,93.200000,9.600000,0.600000,...,4.000000,1.900000,5.600000,26.800000,2.863275e+04,79.700000,20.500000,9.400000,0.300000,9.900000
max,72153.000000,NaN,NaN,1.003839e+07,4.945351e+06,5.093037e+06,99.900000,99.800000,85.900000,92.100000,...,71.200000,39.100000,37.200000,44.000000,4.635465e+06,88.300000,66.200000,36.600000,9.800000,36.500000

In [18]:
#Filter state data down to that of only Virginia

import numpy as np

specific_state = 'Virginia'

criteria = census_df["State"] == specific_state

virginia_df = census_df[criteria]

virginia_df.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
2820,51001,Virginia,Accomack,33115,16117,16998,8.8,60.9,28.6,0.4,...,4.0,1.7,2.7,20.9,14296,73.2,18.6,7.7,0.5,6.8
2821,51003,Virginia,Albemarle,103108,49365,53743,5.7,77.4,9.3,0.2,...,3.7,1.4,7.2,21.9,48206,67.1,24.7,8.0,0.1,3.8
2822,51005,Virginia,Alleghany,16066,7888,8178,1.4,92.0,5.3,0.0,...,0.9,1.3,1.6,24.3,6539,77.3,16.3,6.3,0.1,5.1
2823,51007,Virginia,Amelia,12777,6492,6285,1.0,72.3,24.3,0.4,...,1.1,1.9,2.8,33.8,5686,77.2,14.9,7.9,0.0,5.0
2824,51009,Virginia,Amherst,32148,15475,16673,2.1,75.6,18.4,0.3,...,2.0,1.7,2.7,24.2,14663,78.8,15.1,5.9,0.2,6.6

In [19]:
#Check for missing values

virginia_df.isnull().sum()

CensusId           0
State              0
County             0
TotalPop           0
Men                0
Women              0
Hispanic           0
White              0
Black              0
Native             0
Asian              0
Pacific            0
Citizen            0
Income             0
IncomeErr          0
IncomePerCap       0
IncomePerCapErr    0
Poverty            0
ChildPoverty       0
Professional       0
Service            0
Office             0
Construction       0
Production         0
Drive              0
Carpool            0
Transit            0
Walk               0
OtherTransp        0
WorkAtHome         0
MeanCommute        0
Employed           0
PrivateWork        0
PublicWork         0
SelfEmployed       0
FamilyWork         0
Unemployment       0
dtype: int64

In [21]:
virginia_df.columns = virginia_df.columns.str.lower()
virginia_df.columns = virginia_df.columns.str.replace(' ', '_')
virginia_df = virginia_df.rename(columns={'censusid':'census_id'})
virginia_df = virginia_df.rename(columns={'incomerr':'income_err'})
virginia_df = virginia_df.rename(columns={'incomepercap':'income_per_cap'})
virginia_df = virginia_df.rename(columns={'incomepercaperr':'income_per_cap_err'})
virginia_df = virginia_df.rename(columns={'childpoverty':'child_poverty'})
virginia_df = virginia_df.rename(columns={'othertransp':'other_transp'})
virginia_df = virginia_df.rename(columns={'workathome':'work_at_home'})
virginia_df = virginia_df.rename(columns={'meancommute':'mean_commute'})
virginia_df = virginia_df.rename(columns={'privatework':'private_work'})
virginia_df = virginia_df.rename(columns={'publicwork':'public_work'})
virginia_df = virginia_df.rename(columns={'selfemployed':'self_employed'})
virginia_df = virginia_df.rename(columns={'familywork':'family_work'})

virginia_df.columns

Index(['census_id', 'state', 'county', 'totalpop', 'men', 'women', 'hispanic',
       'white', 'black', 'native', 'asian', 'pacific', 'citizen', 'income',
       'incomeerr', 'income_per_cap', 'income_per_cap_err', 'poverty',
       'child_poverty', 'professional', 'service', 'office', 'construction',
       'production', 'drive', 'carpool', 'transit', 'walk', 'other_transp',
       'work_at_home', 'mean_commute', 'employed', 'private_work',
       'public_work', 'self_employed', 'family_work', 'unemployment'],
      dtype='object')

In [11]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl.metadata (5.1 kB)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.44-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.4-cp311-cp311-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\bluek\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.15.0)
Downloading psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB 1.3 MB/s eta 0:00:03
   ----------- ---------------------------- 0.8/2.7 MB 9.9 MB/s eta 0:00:01
   ---------------------------------------  2.7/2.7 MB 24.6 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 19.2 MB/s eta 0:00:00
Downloading sqlalchemy-2.0.44-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 68.4 MB/s eta 0:00:00
Downloading greenlet-3.2.4-cp311-cp311-win_amd64.whl (299 kB)
   ---------------------------------------- 0.0/299.1 kB ? eta -:--:--
   ---------------------------------------- 299.1/299.1 kB ? eta 0:00:00
Installing collected packages: psycopg2-binary, greenlet, sqlalchemy
Successfully installed greenlet-3.2.4 psycopg2-binary-2.9.11 sqlalchemy-2.0.44
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: C:\Users\bluek\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [37]:
virginia_df.info

<bound method DataFrame.info of       census_id     state               county  totalpop     men   women  \
2820      51001  Virginia             Accomack     33115   16117   16998
2821      51003  Virginia            Albemarle    103108   49365   53743
2822      51005  Virginia            Alleghany     16066    7888    8178
2823      51007  Virginia               Amelia     12777    6492    6285
2824      51009  Virginia              Amherst     32148   15475   16673
...         ...       ...                  ...       ...     ...     ...
2948      51800  Virginia         Suffolk city     86184   41511   44673
2949      51810  Virginia  Virginia Beach city    448290  220275  228015
2950      51820  Virginia      Waynesboro city     21150   10083   11067
2951      51830  Virginia    Williamsburg city     14754    6665    8089
2952      51840  Virginia      Winchester city     27168   13433   13735

      hispanic  white  black  native  ...  walk  other_transp  work_at_home  \
2820       8.8   60.9   28.6     0.4  ...   4.0           1.7           2.7
2821       5.7   77.4    9.3     0.2  ...   3.7           1.4           7.2
2822       1.4   92.0    5.3     0.0  ...   0.9           1.3           1.6
2823       1.0   72.3   24.3     0.4  ...   1.1           1.9           2.8
2824       2.1   75.6   18.4     0.3  ...   2.0           1.7           2.7
...        ...    ...    ...     ...  ...   ...           ...           ...
2948       3.6   50.2   41.4     0.1  ...   1.3           1.2           2.9
2949       7.5   63.1   18.7     0.2  ...   2.5           1.8           4.2
2950       6.7   78.1   11.8     0.1  ...   1.5           2.6           1.9
2951       7.0   69.0   15.0     0.0  ...  15.3           2.3           5.8
2952      16.3   67.9   10.4     0.2  ...   7.5           2.7           4.4

      mean_commute  employed  private_work  public_work  self_employed  \
2820          20.9     14296          73.2         18.6            7.7
2821          21.9     48206          67.1         24.7            8.0
2822          24.3      6539          77.3         16.3            6.3
2823          33.8      5686          77.2         14.9            7.9
2824          24.2     14663          78.8         15.1            5.9
...            ...       ...           ...          ...            ...
2948          27.7     39589          71.7         24.1            4.1
2949          23.2    214968          74.1         21.4            4.5
2950          20.4      9655          80.5         16.0            3.5
2951          19.3      5953          63.7         33.1            3.1
2952          22.7     12748          80.5         12.9            6.3

      family_work  unemployment
2820          0.5           6.8
2821          0.1           3.8
2822          0.1           5.1
2823          0.0           5.0
2824          0.2           6.6
...           ...           ...
2948          0.1           8.0
2949          0.1           6.1
2950          0.0           4.9
2951          0.1           8.5
2952          0.3           6.7

[133 rows x 37 columns]>

In [ ]:
# Melt the genders columns into a single column
virginia_gender_df = virginia_df.melt(
    id_vars=["census_id", "state", "county", "totalpop", "hispanic",
       "white", "black", "native", "asian", "pacific", "citizen", "income",
       "incomeerr", "income_per_cap", "income_per_cap_err", "poverty",
       "child_poverty", "professional", "service", "office", "construction",
       "production", "drive", "carpool", "transit", "walk", "other_transp",
       "work_at_home", "mean_commute", "employed", "private_work",
       "public_work", "self_employed", "family_work", "unemployment"],   # columns to keep
    value_vars=["men","women"],  # columns to unpivot
    var_name="gender",     # new column name for gender
    value_name="genderpop"  # new column name for population
)

virginia_gender_df.head()

,census_id,state,county,totalpop,hispanic,white,black,native,asian,pacific,...,work_at_home,mean_commute,employed,private_work,public_work,self_employed,family_work,unemployment,gender,genderpop
0,51001,Virginia,Accomack,33115,8.8,60.9,28.6,0.4,0.1,0.0,...,2.7,20.9,14296,73.2,18.6,7.7,0.5,6.8,men,16117
1,51003,Virginia,Albemarle,103108,5.7,77.4,9.3,0.2,4.4,0.0,...,7.2,21.9,48206,67.1,24.7,8.0,0.1,3.8,men,49365
2,51005,Virginia,Alleghany,16066,1.4,92.0,5.3,0.0,0.2,0.0,...,1.6,24.3,6539,77.3,16.3,6.3,0.1,5.1,men,7888
3,51007,Virginia,Amelia,12777,1.0,72.3,24.3,0.4,0.1,0.0,...,2.8,33.8,5686,77.2,14.9,7.9,0.0,5.0,men,6492
4,51009,Virginia,Amherst,32148,2.1,75.6,18.4,0.3,0.7,0.0,...,2.7,24.2,14663,78.8,15.1,5.9,0.2,6.6,men,15475

In [ ]:
# Melt the worktype columns into a single column
virginia_worktype_df = virginia_df.melt(
    id_vars=["census_id", "state", "county", "totalpop", "men", "women", "hispanic",
       "white", "black", "native", "asian", "pacific", "citizen", "income",
       "incomeerr", "income_per_cap", "income_per_cap_err", "poverty",
       "child_poverty", "drive", "carpool", "transit", "walk", "other_transp",
       "work_at_home", "mean_commute", "employed", "private_work",
       "public_work", "self_employed", "family_work", "unemployment"],   # columns to keep
    value_vars=["professional", "service", "office", "construction",
       "production"],  # columns to unpivot
    var_name="worktype",     # new column name for worktype
    value_name="worktypepop"  # new column name for population
)

virginia_worktype_df.head()

,census_id,state,county,totalpop,men,women,hispanic,white,black,native,...,work_at_home,mean_commute,employed,private_work,public_work,self_employed,family_work,unemployment,worktype,worktypepop
0,51001,Virginia,Accomack,33115,16117,16998,8.8,60.9,28.6,0.4,...,2.7,20.9,14296,73.2,18.6,7.7,0.5,6.8,professional,33.1
1,51003,Virginia,Albemarle,103108,49365,53743,5.7,77.4,9.3,0.2,...,7.2,21.9,48206,67.1,24.7,8.0,0.1,3.8,professional,54.1
2,51005,Virginia,Alleghany,16066,7888,8178,1.4,92.0,5.3,0.0,...,1.6,24.3,6539,77.3,16.3,6.3,0.1,5.1,professional,29.0
3,51007,Virginia,Amelia,12777,6492,6285,1.0,72.3,24.3,0.4,...,2.8,33.8,5686,77.2,14.9,7.9,0.0,5.0,professional,26.2
4,51009,Virginia,Amherst,32148,15475,16673,2.1,75.6,18.4,0.3,...,2.7,24.2,14663,78.8,15.1,5.9,0.2,6.6,professional,28.5

In [45]:
# Melt the workpoint columns into a single column
virginia_workpoint_df = virginia_df.melt(
    id_vars=["census_id", "state", "county", "totalpop", "men", "women", "hispanic",
       "white", "black", "native", "asian", "pacific", "citizen", "income",
       "incomeerr", "income_per_cap", "income_per_cap_err", "poverty",
       "child_poverty", "professional", "service", "office", "construction",
       "production", "drive", "carpool", "transit", "walk", "other_transp",
       "work_at_home", "mean_commute", "employed", "unemployment"],   # columns to keep
    value_vars=["private_work",
       "public_work", "self_employed", "family_work"],  # columns to unpivot
    var_name="workpoint",     # new column name for workpoint
    value_name="workpointpop"  # new column name for population
)

virginia_worktype_df.head()

,census_id,state,county,totalpop,men,women,hispanic,white,black,native,...,work_at_home,mean_commute,employed,private_work,public_work,self_employed,family_work,unemployment,worktype,worktypepop
0,51001,Virginia,Accomack,33115,16117,16998,8.8,60.9,28.6,0.4,...,2.7,20.9,14296,73.2,18.6,7.7,0.5,6.8,professional,33.1
1,51003,Virginia,Albemarle,103108,49365,53743,5.7,77.4,9.3,0.2,...,7.2,21.9,48206,67.1,24.7,8.0,0.1,3.8,professional,54.1
2,51005,Virginia,Alleghany,16066,7888,8178,1.4,92.0,5.3,0.0,...,1.6,24.3,6539,77.3,16.3,6.3,0.1,5.1,professional,29.0
3,51007,Virginia,Amelia,12777,6492,6285,1.0,72.3,24.3,0.4,...,2.8,33.8,5686,77.2,14.9,7.9,0.0,5.0,professional,26.2
4,51009,Virginia,Amherst,32148,15475,16673,2.1,75.6,18.4,0.3,...,2.7,24.2,14663,78.8,15.1,5.9,0.2,6.6,professional,28.5

In [46]:
# Melt the race columns into a single column
virginia_race_df = virginia_df.melt(
    id_vars=["census_id", "state", "county", "totalpop", "men", "women", "citizen", "income",
       "incomeerr", "income_per_cap", "income_per_cap_err", "poverty",
       "child_poverty", "professional", "service", "office", "construction",
       "production", "drive", "carpool", "transit", "walk", "other_transp",
       "work_at_home", "mean_commute", "employed", "private_work",
       "public_work", "self_employed", "family_work", "unemployment"],   # columns to keep
    value_vars=["hispanic","white", "black", "native", "asian", "pacific"],  # columns to unpivot
    var_name="race",     # new column name for race
    value_name="racepop"  # new column name for population
)

virginia_race_df.head()

,census_id,state,county,totalpop,men,women,citizen,income,incomeerr,income_per_cap,...,work_at_home,mean_commute,employed,private_work,public_work,self_employed,family_work,unemployment,race,racepop
0,51001,Virginia,Accomack,33115,16117,16998,24572,39412.0,2723.0,23231,...,2.7,20.9,14296,73.2,18.6,7.7,0.5,6.8,hispanic,8.8
1,51003,Virginia,Albemarle,103108,49365,53743,76013,68449.0,3020.0,37474,...,7.2,21.9,48206,67.1,24.7,8.0,0.1,3.8,hispanic,5.7
2,51005,Virginia,Alleghany,16066,7888,8178,12728,45007.0,2876.0,24118,...,1.6,24.3,6539,77.3,16.3,6.3,0.1,5.1,hispanic,1.4
3,51007,Virginia,Amelia,12777,6492,6285,10041,56850.0,7882.0,24868,...,2.8,33.8,5686,77.2,14.9,7.9,0.0,5.0,hispanic,1.0
4,51009,Virginia,Amherst,32148,15475,16673,25274,47558.0,3068.0,23469,...,2.7,24.2,14663,78.8,15.1,5.9,0.2,6.6,hispanic,2.1

In [ ]:
# virginia_gender_df.info
# virginia_race_df.info
# virginia_worktype_df.info
# virginia_workpoint_df.info

<bound method DataFrame.info of      census_id     state               county  totalpop     men   women  \
0        51001  Virginia             Accomack     33115   16117   16998
1        51003  Virginia            Albemarle    103108   49365   53743
2        51005  Virginia            Alleghany     16066    7888    8178
3        51007  Virginia               Amelia     12777    6492    6285
4        51009  Virginia              Amherst     32148   15475   16673
..         ...       ...                  ...       ...     ...     ...
527      51800  Virginia         Suffolk city     86184   41511   44673
528      51810  Virginia  Virginia Beach city    448290  220275  228015
529      51820  Virginia      Waynesboro city     21150   10083   11067
530      51830  Virginia    Williamsburg city     14754    6665    8089
531      51840  Virginia      Winchester city     27168   13433   13735

     hispanic  white  black  native  ...  carpool  transit  walk  \
0         8.8   60.9   28.6     0.4  ...     11.2      0.5   4.0
1         5.7   77.4    9.3     0.2  ...      7.6      2.0   3.7
2         1.4   92.0    5.3     0.0  ...      9.3      1.0   0.9
3         1.0   72.3   24.3     0.4  ...      9.5      0.9   1.1
4         2.1   75.6   18.4     0.3  ...      9.9      1.3   2.0
..        ...    ...    ...     ...  ...      ...      ...   ...
527       3.6   50.2   41.4     0.1  ...      8.2      0.4   1.3
528       7.5   63.1   18.7     0.2  ...      8.2      0.9   2.5
529       6.7   78.1   11.8     0.1  ...     10.3      0.4   1.5
530       7.0   69.0   15.0     0.0  ...      7.6      3.7  15.3
531      16.3   67.9   10.4     0.2  ...     14.8      1.1   7.5

     other_transp  work_at_home  mean_commute  employed  unemployment  \
0             1.7           2.7          20.9     14296           6.8
1             1.4           7.2          21.9     48206           3.8
2             1.3           1.6          24.3      6539           5.1
3             1.9           2.8          33.8      5686           5.0
4             1.7           2.7          24.2     14663           6.6
..            ...           ...           ...       ...           ...
527           1.2           2.9          27.7     39589           8.0
528           1.8           4.2          23.2    214968           6.1
529           2.6           1.9          20.4      9655           4.9
530           2.3           5.8          19.3      5953           8.5
531           2.7           4.4          22.7     12748           6.7

        workpoint  workpointpop
0    private_work          73.2
1    private_work          67.1
2    private_work          77.3
3    private_work          77.2
4    private_work          78.8
..            ...           ...
527   family_work           0.1
528   family_work           0.1
529   family_work           0.0
530   family_work           0.1
531   family_work           0.3

[532 rows x 35 columns]>

In [13]:
#Connect to postgresql
from sqlalchemy import create_engine

username = "postgres"
password = "password"
host = "localhost"
port = "5432"
database = "virginia_census"

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

#Load dataframe into postgresql
table_name = "virginia" 
virginia_df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data was successfully loaded into table '{table_name}' in database '{database}'. ")

Data was successfully loaded into table 'virginia' in database 'virginia_census'.